.main {

}

.h-titolo {
  font-family: var(--title-first-font);
  font-size: 6vh;
  margin-top: 55px;
}

.h-sottotitolo {
  font-family: var(--title-second-font);
  font-weight: 300;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 1.9vh;
  padding: 5px;
  letter-spacing: 1.5px;
}

.h-data {
  font-family: var(--title-second-font);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  font-size: 3vh;
  letter-spacing: 3px;
  margin-bottom: 40px;
}

.h-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.h-img::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: linear-gradient(rgba(255,255,255, 0), 90%, #f0f0f0);
  z-index: 2;
}

.h-img-i {
  position: absolute;
  object-fit: cover;
  height: 80%;
}

.h-drawler {
  transform: scale(140%);
}