.Programma {
  max-width: 500px;
  z-index: 1;
}

.app-sm {
  margin-top: 30px;
  font-family: var(--title-second-font);
  text-transform: uppercase;
  z-index: 100;
  font-size: 0.9em;
}

.parrocchia {
  font-family: var(--title-first-font);
  font-size: 1.5em;
  margin: 20px 0;
  text-transform: none;
  display: block;
}

.via {
  text-transform: uppercase;
  font-style: italic;
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.p-fiore {
  opacity: 0.2;
}

.san-marco {
  object-fit: fill;
  mask-image: linear-gradient(90deg,rgba(255,255,255, 0), 20%, #f0f0f0, 70%, #f0f0f0, 80%, rgba(255,255,255, 0));
}