.Regalo {
  height: 70vh;
  height: 100svh;
  position: relative;
  overflow-x: hidden;
  max-width: 500px;
  font-family: var(--title-second-font);
}

.header {
  position: sticky;
  top: 0;
}

::-webkit-scrollbar {display:none;}

.titolo-pagina {
  font-family: var(--title-second-font);
  margin-top: 20px;
  font-size: 2.7vh;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;

}

.content {
  font-size: 2vh;
  font-style: normal;
  margin-top: 20px;
}

.firma {
  font-family: var(--title-first-font);
  font-size: 3.4vh;
  margin-bottom: 60px;
}

.img {
  height: 30vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

img {
  height: 100%;
}

.img::before {
  content: '';
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(255,255,255, 0), 80%, #f0f0f0);
  position: absolute;
}

.r-body {
  margin-top: 90px;
}