.Regalo {
  position: relative;
  overflow-x: hidden;
  max-width: 500px;
  font-family: var(--title-second-font);
  z-index: 1;
}

.header {
  position: sticky;
  top: 0;
}

::-webkit-scrollbar {display:none;}

.titolo-pagina {
  font-family: var(--title-second-font);
  margin-top: 20px;
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;

}

.content {
  font-size: 1.1em;
  font-style: normal;
  margin-top: 20px;
  z-index: 1;
}

.cari {
  font-family: var(--title-first-font);
  margin-bottom: 0;
  line-height: 0;
  font-size: 1.5em;
}

.firma {
  font-family: var(--title-first-font);
  font-size: 2em;
  margin-bottom: 60px;
}

.img {
  height: 15em;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  mask-image: linear-gradient(#f0f0f0, 80%, rgba(255,255,255, 0));
}

.img > img {
  height: 100%;
}

.r-body {
  margin-top: 90px;
}

.fiore {
  position: fixed;
  width: 70%;
  max-width: 300px;
  object-fit: contain;
  opacity: 0.4;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 10%);
  z-index: 0 !important;
}

.header-bg {
  position: fixed;
  opacity: 0.5;
  object-fit: cover;
  top: 0%;
  left: 0%;
  z-index: 0 !important;
  transform: rotate(180deg);
  mask-image: linear-gradient(#f0f0f0, 50%, rgba(255,255,255, 0));
}