.Header {
  padding-bottom: 12px;
  width: 100%;
  max-width: 500px;
  padding: 10px 20px;
}

.titolo {
  font-family: var(--title-first-font);
  font-size: 2em;
  color: black;
}

.hamburger {
  transform: scale(130%);
}

.titolo-drawler {
  margin-top: 20px;
  color: black;
  font-family: var(--title-first-font);
  font-size: 2em;
}

.close svg {
  stroke: black;
}

.d-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  gap: 40px;
  font-size: 2vh;
  font-size: 2vh;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

.d {
  background-color: var(--palette-color-white);
  color: black;
}


a {
  text-decoration: none;
  outline: 0;
  border: none;
}

a:focus {
  text-decoration: none;
  outline: 0;
  border: none;
}