.Titolo {
  position: relative;
}

.logo-main {
  font-size: 6vh;
  font-family: var(--title-first-font);
  margin-bottom: 10px;
}

.logo-subtitle {
  font-size: 2vh;
  font-weight: bold;
  font-family: var(--title-second-font);
  letter-spacing: 5px;
}