@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Meddon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Meddon&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@font-face {
  font-family: 'Mestika';
  font-style: normal;
  font-weight: normal;
  src: local('Mestika Regular'), url('/src/static/fonts/Mestika.woff') format('woff');
}
@font-face {
  font-family: 'Coursive Font';
  src: local('BrittanySignature'), url('./fonts/BrittanySignature.ttf') format('truetype')
}
@font-face {
  font-family: 'Bileha';
  font-style: normal;
  font-weight: normal;
  src: local('Mestika Regular'), url('/src/static/fonts/Bileha.woff') format('woff');
}

:root {
  /*COLORS*/
  --palette-color-red: #C53A63;
  --palette-color-red-500: #131313;
  --palette-color-purple: #C666BA;
  --palette-color-pink: #FFC1C1;
  --palette-color-yellow: #F5B257;
  --palette-color-orange: #FF613E;
  --palette-color-blue: #92B1D2;
  --palette-color-green: #4F7936;
  --palette-color-black: black;
  --palette-color-white: #f0f0f0;

  /*FONT*/
  --title-first-font: "Coursive Font", serif;
  --title-second-font: "Montserrat", serif;
  --title-alternative-font: "Mestika", serif;
  --coursive-font: "League Script", cursive;
}

html {
  background-color: var(--palette-color-white);
}

body {
  
}

body::before {
  content: '';
  position: fixed;
  height: 200em;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #f0f0f0;
/* background-image: url("https://www.transparenttextures.com/patterns/beige-paper.png"); */
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  mask-image: linear-gradient(rgba(255,255,255, 0), 15%, #f0f0f0);
  z-index: 0;
}

.a {
  
}

* {
  color: var(--palette-color-black);
  text-align: center;
}


.title {
  text-align: center;
  font-size: 3em;
}

.subtitle {
  text-align: center;
  font-size: 1.5em;
}

.h1 {
  text-align: center;
  font-size: 1em;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: bold;
}

.semibold {
  font-weight: 700;
}

.font1 {
  font-family: var(--secondary-font);
}

.font2 {
  font-family: var(--third-font);
}

.font3 {
}

.ps {
  line-height: 1em;
  letter-spacing: 0.08em;
}

.l-wrapper {
  position: fixed;
  z-index: 200;
}

.l-title {
  position: relative;
  font-family: var(--title-first-font);
  font-size: 2em;
  padding: 20px;
  z-index: 100;
  height: 4em;
  width: 4em;
}

.l-title::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  border-radius: 50%;
  border-top: solid 2px black;
  animation: 1s loading-animation infinite;
}

@keyframes loading-animation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}